<div class="jumbotron">
    <h1>LINK</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h2><%= link_to "売る", "#", class: 'btn-circle-fishy' %></h2>
		</div>
		<div class="col-md-3">
    		<h2><%= link_to "探す", "#", class: 'btn-circle-fishy' %></h2>
    	</div>
    	<div class="col-md-3">
    		<h2><%= link_to "車検", "#", class: 'btn-circle-fishy' %></h2>
    	</div>
    	<div class="col-md-3">
    		<h2><%= link_to "保険", enquiries_insurance_path, class: 'btn-circle-fishy' %></h2>
    	</div>
        <div class="col-md-3">
            <h2><%= link_to "修理", "#", class: 'btn-circle-fishy' %></h2>
        </div>
    </div>
</div>