<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                車一覧
                <h4><%= @maker.name %></h4>
                <% @maker.cars.each do |car| %>
                    <% car.grades.each do |grade| %>
                        <% grade.car_items.each do |item| %>
                                <h4><%= car.name %></h4>
                                <h4><%= grade.name %></h4>
                                <h4><%= grade.displacement %>cc</h4>
                                <h4><%= item.year %></h4>
                                <h4><%= item.price %>万円</h4>
                                <h4><%= item.distance %>km</h4>
                                <h4><%= item.inspection %></h4>
                            <p>装備⬇️</p>
                            <% item.equipments.each do |equipment| %>
                                <%= equipment.name %>/
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
