<h1>車検のご予約</h1>
<%= form_for(@enquiry) do |f| %>
<%= f.hidden_field :number, :value => "車検" %>
<p>名前</p>
<%= @user.name_last %>
<%= @user.name_first %>
<p>電話番号</p>
<%= @user.phone %>
<p>地域</p>
<p><%= f.select :area, Enquiry.areas.keys.to_a,{} %></p>
<%= f.submit '無料車検お見積もり・予約' %>
<% end %>


